<div class="container">
        <div class="alert alert-primary row" role="alert">
            <h1 class="col-sm-10">Bienvenido {{nombre}} ({{correo}})</h1>
            <a href="/logout" class="btn btn-warning col-sm-2">Desloguear</a>
        </div>
        <div>
            <p>Server Status:
                <span id="lblOnline" class="text-success">Online</span>
                <span id="lblOffline" class="text-danger">Offline</span>
            </p>
        </div>
        
        <hr/>

        <div>
            <h1>Ingrese un producto</h1>
            <form id="frmProducto">
                <div class="mb-3 row">
                    <label for="title" class="col-sm-2 col-form-label">Título</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="title" id="title" placeholder="Título">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="price" class="col-sm-2 col-form-label">Precio</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="price" id="price" placeholder="Precio">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="thumbnail" class="col-sm-2 col-form-label">URL imagen</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="thumbnail" id="thumbnail" placeholder="URL imagen">
                    </div>
                </div>
                <div class="mb-3 row">
                    <div class="col-sm-12">
                        <input class="btn btn-primary" type="submit" value="Agregar producto" style="width: 100%;">
                    </div>
                </div>
            </form>
        </div>

        <hr/>

        <div>
            <h1>Listado de productos</h1>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th class="width=10%">ID</th>
                        <th class="width=70%">Producto</th>
                        <th class="width=10%">Precio</th>
                        <th class="width=10%">Imagen</th>
                    </tr>
                </thead>
                <tbody id="tbProductos">
                </tbody>
            </table>
        </div>

        <hr/>

        <div>
            <h1>Centro de Mensajes</h1>
            <div>
                <form id="frmUser">
                    <div class="mb-3 row">
                        <label for="correo" class="col-sm-2 col-form-label">Correo electrónico</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" name="correo" id="correo" placeholder="Correo">
                        </div>
                        <div class="col-sm-2">
                            <input id="iniciarChat" class="btn btn-primary" type="submit" value="Iniciar chat" style="width: 100%;">
                        </div>
                    </div>
                </form>
            </div>
            <div id="divChat" style="background-color: #dddddd; margin: 20px 0px; padding:10px;">
            </div>
            <div id="divMensaje" style="display:none;">
                <div class="mb-3 row">
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="mensaje" id="mensaje" placeholder="Mensaje">
                    </div>
                    <div class="col-sm-2">
                        <button id="btnEnviarMensaje" class="btn btn-primary" style="width: 100%;">Enviar mensaje</button>
                    </div>
                </div>
            </div>
        </div>
</div>
