<div class="container">
    <div class="alert alert-primary row" role="alert">
        <h1 class="col-sm-10">Hasta luego {{nombre}}</h1>
    </div>
</div>
<script>
    setTimeout( function() { window.location.href = "/"; }, 2000 );
</script>