<div class="container">
    <h1>Registro de Usuario</h1>
    <form id="frmLogin" method="post" action="/registrarUsuario">
        <div class="mb-3 row">
            <label for="txtNombre" class="col-sm-2 col-form-label">Ingrese su nombre</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="txtNombre" id="txtNombre" placeholder="Ingrese su nombre">
            </div>
        </div>
        <div class="mb-3 row">
            <label for="txtPassword" class="col-sm-2 col-form-label">Ingrese su contrase침a</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" name="txtPassword" id="txtPassword" placeholder="Ingrese su contrase침a">
            </div>
        </div>
        <div class="mb-3 row">
            <label for="txtCorreo" class="col-sm-2 col-form-label">Ingrese su correo electr칩nico</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="txtCorreo" id="txtCorreo" placeholder="Ingrese su correo electr칩nico">
            </div>
        </div>
        <div class="mb-3 row">
            <div class="col-sm-12">
                <input class="btn btn-success" type="submit" value="Enviar" style="width: 100%;">
                <a href="/">Volver</a>
            </div>
        </div>
    </form>
</div>