<div class="container">
    <h1>Números aleatorios con Fork y Child Process</h1>
    <form>
        <div class="mb-3 row">
            <label for="txtNombre" class="col-sm-2 col-form-label">Resultado:</label>
            <label for="txtNombre" class="col-sm-10 col-form-label">{{rpta}}</label>
        </div>
    </form>
</div>